/* 点滅 */
.ani_blinking{
	-webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
/* 画像回転 */
.ani_rotate{
	&:hover img{
		animation-name:rotate;
		animation-duration: .8s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}
@-webkit-keyframes 'rotate' {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
/* underline animation */
.ani_underline{
	display: inline-block;
	&::after {
		content: "";
		display: block;
		width: 0;
		margin: -3px 0 0;
		transition-duration:0.3s;
		border-bottom: 1px solid #FFF;
	}
	&:hover{
		&::after {
			width: 100%;
		}
	}
}
