@charset 'utf-8';

// =====================
// Flex
// ---------------------
//左寄せ
.flex-start{
  width: 100%;
  display: flex;
  justify-content:flex-start;
  flex-wrap:wrap;
}
//右寄せ
.flex-end{
  width: 100%;
  display: flex;
  justify-content:flex-end;
  flex-wrap:wrap;
}
//センター
.flex-center{
  width: 100%;
  display: flex;
  justify-content:flex-center;
  flex-wrap:wrap;
}
/* 均等配置 */
.flex-space-between{
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
/* 均等配置（先端・終端にも余白） */
.flex-space-around{
  width: 100%;
  display: flex;
  justify-content:space-around;
  flex-wrap:wrap;
}
/* たて */
.flex-column{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  &__1{
    flex: 1 0 10%; // 75%
  }
  &__8{
    flex: 3 0 65.8%; // 75%
  }
}
.FlexTwoContainer{
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  &__body{
    width: 49%;
  }
}
.FlexThreeContainer{
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  &__body{
    width: 32%;
    img{
      width: 100%;
    }
  }
}
.FlexFiveContainer{
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  &__body{
    width: 20%;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
}
//右寄せ
.FlexRight{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap:wrap;
  &__body{
    width: 60%;
  }
}
.FlexImageTwoConList{
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  padding-bottom: 10px;
  &__body{
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #FFF;
    width: 49%;
    margin:10px 0 0;
    font-size: 1.2rem;
    &--Modifier{
    }
  }
}
