@charset 'utf-8';

// =====================
// Table 横
// ---------------------
.BasicTable{
  width: 100%;
  color: #FFF;
  tr{
    &:nth-child(odd){
      th{

      }
    }
    &:nth-child(even){
      th{

      }
    }
  }
  &__th{
    text-align: center;
    padding: 2.5%;
    border: 1px solid #FFF;
    white-space: nowrap;
    width: 30%;
  }
  &__td{
    padding: 2.5%;
    border: 1px solid #FFF;
    width: 70%;
    a{
      color: #FFF;
    }
  }
}
// =====================
// Table　縦
// ---------------------
.BasicTable2{
  width: 100%;
  &__th{
    text-align: center;
    padding: 2.5% 0;
    border: 1px solid #FFF;
    white-space: nowrap;
    width: 16.6666%;
    background-color:#878787;
    color: #FFF;
    &--gray{
      @extend .BasicTable2__th;
      background-color:#EEEFEF;
      color: #000;
    }
  }
  &__td{
    text-align: center;
    padding: 2.5% 0;
    border: 1px solid #FFF;
    width: 16.6666%;
    a{
      color: #FFF;
    }
  }
}
