@charset 'utf-8';
//サイト幅
$site-width:0px;
//メイン
$main-width:1000px;
$font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
// colors
$mainColor:#00408F;
$site-fontColor:#FFF;
$site-bgColor:#00408F;
$secondColor:#DF8430;
$green:#96B938;
$black:black;
$mincho-font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
